.container {
  position: relative;       /* For absolute positioning of the rectangle */
  display: inline-block;
  max-width: 80%;          /* Container won't exceed parent width */
  overflow: hidden;         /* Prevent rectangle from overflowing */
  bottom: 0;
}

.splash-image {
  display: block;
  width: 100%;              /* Image scales with container */
  height: auto;
  -webkit-user-drag: none;
}